<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="System.Int16" value="UniversalGenerator.UniversalGenerator_Functions.GenerateShortInt"/>
    <add key="System.Int32" value="UniversalGenerator.UniversalGenerator_Functions.GenerateInt"/>
    <add key="System.Int64" value="UniversalGenerator.UniversalGenerator_Functions.GenerateInt"/>
    <add key="System.UInt16" value="UniversalGenerator.UniversalGenerator_Functions.GenerateUShortInt"/>
    <add key="System.UInt32" value="UniversalGenerator.UniversalGenerator_Functions.GenerateUInt"/>
    <add key="System.UInt64" value="UniversalGenerator.UniversalGenerator_Functions.GenerateULong"/>
    <add key="System.Single" value="UniversalGenerator.UniversalGenerator_Functions.GenerateFloat"/>
    <add key="System.Double" value="UniversalGenerator.UniversalGenerator_Functions.GenerateFloat"/>
    <add key="System.String" value="UniversalGenerator.UniversalGenerator_Functions.GenerateString"/>
    <add key="Syste.Char" value="UniversalGenerator.UniversalGenerator_Functions.GenerateChar"/>
    <add key="System.Boolean" value="UniversalGenerator.UniversalGenerator_Functions.GenerateBool"/>
    <add key="System.DateTime" value="UniversalGenerator.UniversalGenerator_Functions.GenerateDateTime"/>
    <add key="System.TimeSpan" value="UniversalGenerator.UniversalGenerator_Functions.GenerateTimeSpan"/>
    <add key="System.Enum" value="UniversalGenerator.UniversalGenerator_Functions.GenerateEnum"/>
  </appSettings>
</configuration>